@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    border: none;
}
body{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #2f4f4f;
}

/* headings & header */

h1, h2 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* #header-style{
    color: #faebd7;
    background-color: #fff0f5;
} */

/* logo */
#logo{
    float: left;
    font-size: 300%;
    color: #2f4f4f;
    letter-spacing: 6px;
}

/* Nav Links */
#page-links{
    font-size: 180%;
    letter-spacing: 4px;
}
#page-links, #logo{
    line-height: 75px;

}
#page-links li{
    float: right;
    list-style-type: none;
    margin-right: 35px;
}
#page-links a{
    text-decoration: none;
    color: inherit;
}
#page-links a:hover{
    border: 2px solid black;
}
.active{
    border-bottom: 2px solid black;
}
/* section 1 image and address */
#image-border{
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#address, #address h2 {
    color:antiquewhite;
    text-align: center;
}
#image{
    height: 500px;
    width: 100%;
    background: url("../images/hero-image-1.jpeg") no-repeat center center;
}

#address{
    font-size: 140%;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    width: 350px;
    height: 150px;
    background-color: rgba(255, 182, 193, .5);
    bottom: 30px;
    right: 150px;
    position: absolute;
}