@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    border: none;
    background-color: rgb(255, 182, 193);
}
body{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #2f4f4f;
}

/* headings & header */

h1, h2 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #2f4f4f;
}

#header-style{
    color: #faebd7;
    
}

/* logo */
#logo{
    float: left;
    font-size: 300%;
    color: #2f4f4f;
    letter-spacing: 6px;
    margin-left: 25px;
}

/* Nav Links */
#page-links{
    font-size: 180%;
    letter-spacing: 4px;
    color: #2f2f2f
}
#page-links, #logo{
    line-height: 75px;
}
#page-links li{
    float: right;
    list-style-type: none;
    margin-right: 35px;
}
#page-links a{
    text-decoration: none;
    color: inherit;
}
#page-links a:hover{
    border: 2px solid black;
}
.active{
    border-bottom: 2px solid black;
}
/* section 1 image and address */
#image-border{
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#address, #address h2 {
    color:antiquewhite;
    text-align: center;
}
#image{
    height: 500px;
    width: 100%;
    background: url("../images/hero-image-1.jpeg") no-repeat center center;
}

#address{
    font-size: 140%;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    width: 400px;
    height: 150px;
    background-color: rgba(255, 182, 193, .5);
    bottom: 30px;
    right: 150px;
    position: absolute;
}
/* info section */
#information{
    height: 510px;
    background-color: rgb(255, 182, 193);
}
#right{
    padding-top: 25px;
    width: 33%;
    float: right;
}
#left{
    padding-top: 25px;
    width: 33%;
    float: left;
    margin-left: 25px;
}
#center{
    width: 33%;
    margin: 0 auto;
}
hr{
    border-top: 2px solid black;
    width: 100%;
    margin: 5px;
}
.left-heading{
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
.right-heading{
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
.right-heading a{
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid black;
}
.right-heading a:hover{
    border: 2px solid black;
}
#container{
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: rgb(255, 182, 193);
    border-width: 2px;
    margin: 0 auto;
}
#container-bg{
    background: url("../images/relax.jpeg") no-repeat center center;
    background-size: cover;
    height: 100%;
}
/*Classes banner*/
#classes{
    font-size: 120%;

}
.class-info{
    height: 400px;
    width: 100%;
    background: url("../images/yoga-class-1.jpeg") no-repeat center center;
    background-size: cover;
    color: #2f2f2f;
    font-size: 100%;
    overflow: hidden;
    position: relative;
}
.class-left{
    height: 60px;
    width: 33%;
    float: left;
    line-height: 20px;
    clear: both;
    text-align: center;
    padding-top: 25px;
    margin-left: 25px;
    margin-bottom: 50px;
    border: 1px solid rgb(255, 182, 193);
    background-color: rgb(255, 182, 193);
}
.class-left a{
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid black;
}
.class-left a:hover{
    border: 2px solid black;}

/*Staff Information Section */
#staff{
    height: 400px;
    width: 100%;
    background-color: rgb(255, 182, 193)
}
.staff-image img{
    height: 300px;
    width: 300px;
}
#staff1, #staff2{
    padding-top: 25px;
    width: 25%;
    float: left;
}
#staff4, #staff3{
    padding-top: 25px;
    width: 25%;
    float: right;
}
/* Footer */
footer{
    height: 150px;
}
footer ul{
    text-align: center;
}
footer li{
    display: inline;
}
footer i{
    font-size: 150%;
    margin: 2%;
    margin-top: 0%;
    padding: 6%;
    color: #2f2f2f;
}
/* table */
table{
    width: 100%;
    position: center;
}

table, th, td {
    border: 1px solid black;
    padding: 15px;
}

th, td{
    background-color: white;
}

#table-heading1{
    background-color: green;
    color: ivory;
}

#table-heading2{
    background-color: blue;
    color: ivory;
}

#table-heading3{
    background-color: violet;
    color: ivory;
}

th{
    background-color: rgb(255, 182, 193);
    color: white;
}

td:hover{
    background-color: rgb(255, 182, 193);
}

/*Membership details*/

#membership{
    background-image: url("../images/membershipbg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}
#membership-heading{
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
    font-size: 280%;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.6);
}

#membership div{
    width: 25%;
    height: 300px;
    float: left;
    padding: 100px 0 0 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid black;
    box-sizing: border-box;
}
.bronze-member h2, .bronze-member h3{
    background-color: rgba(255, 255, 255, 0.6);
}

.silver-member h2, .silver-member h3{
    background-color: rgba(255, 255, 255, 0.6);
}

.gold-member h2, .gold-member h3{
    background-color: rgba(255, 255, 255, 0.6);
}

.premium-member h2, .premium-member h3{
    background-color: rgba(255, 255, 255, 0.6);
}

/* Video */

#video > p {
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
    font-size: 280%;
    font-weight: bold;
}

#video > video{
    padding-left: 200px;
}
/*Signup Form*/

.form-section{
    clear: left;
    background: url("../images/joinus-form-bg.jpeg");
    background-size: cover;
    background-position: center;
    height: 800px;
}

.signup-form{
    margin: 150px 10% 0 0;
    color: #faebd7;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2{
    color: #fafafa;
    margin-bottom: 20px;
}

.signup-form > legend, input, select, label{
    background-color: rgba(60, 60, 60, 0.6);
}

.signup-form h3{
    background-color: rgba(60, 60, 60, 0.6);
}
.text-input{
    background: transparent;
    color: #faebd7;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid #faebd7;
    border-radius: 2px;
}

.text-input:hover{
    border-color: rgb(0, 0, 0);
}

.input{
    background-color: rgba(60, 60, 60, 0.6);
}
.radio-button{
    background-color: rgba(60, 60, 60, 0.6);
}
.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #000000;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #000000;
}

/* media query */

@media screen and (max-width: 1200px) {
    *{ width: 100%; 
    height: 950;
    margin: 0 auto;
    padding: 30px 0;
    }
}

@media screen and (max-width: 950px) {
    *{ width: 100%;
    height: 950px;
    margin: 0 auto;
    padding: 0;
    }
}